@font-face {
    font-family: mj;
    src: url(../font/VurniaDemo-Regular.otf);
}
body {
    background: url('/image/book.webp') no-repeat center/cover;
    min-height: 100vh;
    padding: 0;
}
.nav-item
{
    font-family: mj;
    font-size: 20px;

}
/* Booking Box */
.booking-area {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.booking-box {
    width: 520px;
    background: rgba(255, 255, 255, 0.362);
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.25);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #6d4a33;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Form Controls */
label {
    font-weight: 600;
    margin-bottom: 5px;
}

.form-control, .form-select {
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #8d6748;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

button:hover {
    background: #6c4e37;
}

/* Mobile Responsive */
@media(max-width: 480px) {
    .booking-box {
        width: 100%;
        padding: 20px;
    }
    h2 {
        font-size: 20px;
    }
    button {
        font-size: 16px;
    }
}